form(method='post')
  h2 Добавьте свой пост.
  label
     Title 
	input(name='title')
  label
     Message 
	textarea(name="body")  
  input(type='hidden' name='action' value='addpost')
  input(type='submit' value='Add post')