form(method='post')
  label
    | Name
    input(name='username')
  label
    | Password
    input(name='psw' type='password')
  input(type='hidden' name='action' value='login')
  input(type='submit')
 
